# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
build/LIE-ALG
build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/LIE-ALG.sln
build/LIE-ALG.vcxproj
build/LIE-ALG.vcxproj.filters
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
build/Debug/LIE-ALG.pdb
build/LIE-ALG.dir/Debug/.d.json
build/LIE-ALG.dir/Debug/differentialform.cpp.module.json
build/LIE-ALG.dir/Debug/LIE-ALG.exe.recipe
build/LIE-ALG.dir/Debug/LIE-ALG.ilk
build/LIE-ALG.dir/Debug/main.cpp.module.json
build/LIE-ALG.dir/Debug/vc143.pdb
build/LIE-ALG.dir/Debug/LIE-ALG.tlog/CL.command.1.tlog
build/LIE-ALG.dir/Debug/LIE-ALG.tlog/Cl.items.tlog
build/LIE-ALG.dir/Debug/LIE-ALG.tlog/CustomBuild.command.1.tlog
build/LIE-ALG.dir/Debug/LIE-ALG.tlog/CustomBuild.read.1.tlog
build/LIE-ALG.dir/Debug/LIE-ALG.tlog/CustomBuild.write.1.tlog
build/LIE-ALG.dir/Debug/LIE-ALG.tlog/LIE-ALG.lastbuildstate
build/LIE-ALG.dir/Debug/LIE-ALG.tlog/link.command.1.tlog
build/LIE-ALG.dir/Debug/LIE-ALG.tlog/link.read.1.tlog
build/LIE-ALG.dir/Debug/LIE-ALG.tlog/link.secondary.1.tlog
build/LIE-ALG.dir/Debug/LIE-ALG.tlog/link.write.1.tlog
build/LIE-ALG.dir/Debug/LIE-ALG.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
build/LIE-ALG.dir/Debug/LIE-ALG.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
build/LIE-ALG.dir/Debug/LIE-ALG_MD.tlog/CL.command.1.tlog
build/LIE-ALG.dir/Debug/LIE-ALG_MD.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
build/LIE-ALG.dir/Debug/LIE-ALG_MD.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
.vscode/settings.json
